/* UTIL */
.marginleftdefault {
	margin-left: 1rem;
}
.borderradius50 {
	border-radius: 50%;
}

/* STYLE */
.headercontainer {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navcontainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navitem {
	margin-left: 3.5rem;
	font-size: 1.25rem;
	font-weight: 500;
	color: #000;
}

.navitem:hover {
	color: #f8640a;
}
