/* UTIL */
.margingleft8 {
	margin-left: 0.5rem;
}
.margingleft16 {
	margin-left: 4rem;
}
.marginright16 {
	margin-right: 4rem;
}
.margintop16 {
	margin-top: 1rem;
}
.margintop32 {
	margin-top: 2rem;
}
.margintop64 {
	margin-top: 4rem;
}
.margintop128 {
	margin-top: 8rem;
}
.displayflexstart {
	display: flex;
}

/* STYLE */
.homebannercontainer {
	padding: 2.5rem 0rem 2.5rem 8rem;
	background-image: url("../../public/images/imagehomebanner.png"); /* Replace with your image path */
	background-size: cover;
	background-position: center;
	background-blend-mode: overlay;
	background-color: rgba(0, 0, 0, 0.45); /* Black overlay with 50% opacity */
	z-index: -1;
}

.homebannertitleprimary {
	font-size: 4rem;
	font-weight: 700;
	color: #e36b26;
}

.homebannertitlesecondary {
	font-size: 4rem;
	font-weight: 700;
	color: #f9c64d;
}

.homebannertitleterciary {
	font-size: 4rem;
	font-weight: 700;
	color: #664739;
}

.homebannertext {
	font-size: 1.25rem;
	font-weight: 500;
	color: #c29e84;
}

.hometitlecontainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hometitle {
	margin-right: 0.5rem;
	font-size: 2.5rem;
	font-weight: lighter;
	color: #664739;
}

.homesectioncontainer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.homesectiontitle {
	font-size: 2rem;
	font-weight: 700;
	color: #664739;
}

.homesectiontext {
	font-size: 1.5rem;
	font-weight: normal;
	color: #1f1f1f;
	text-align: justify;
}

.homeimagecasacerrado {
	margin-left: 5rem;
	max-width: 512px;
	max-height: 512px;
	border-radius: 10%;
}

.homelogoparceiros {
}
.homelogoparceiros:hover {
	transform: scale(1.15);
	border-radius: 50%;
	box-shadow: 0.25rem 0.25rem 0.15rem 0.1rem rgba(0, 0, 0, 0.35);
}

.homesectionnumeros {
	padding: 4rem;
	background-color: #f9bf39;
}

.homeatividadesimage {
	display: flex;
	justify-content: center;
	align-items: center;
}

.homeatividadestext {
	font-size: 1rem;
	color: #21272a;
	text-align: center;
	max-width: 16rem;
}

.homebannerhistoria {
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #835c49;
}

.homebannerhistoriatext {
	font-size: 2.5rem;
	font-weight: 700;
	color: #e36b26;
	text-align: center;
}

.homebannerhistoriasubtitle {
	font-size: 1.25rem;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
}
